body {
    background-color: white;
}
.clear {
    clear: both;
}
#content{
    position: relative;
    top: 84px;
    padding-bottom: 55px;
}
.search-box-copy {
    visibility:hidden;
}
#search-box {
    padding: 5px 10px;
    position: fixed;
    top: 0;
    width: 100%;
}
#search-box span {
    position:absolute;
    left:15px;
    top: 5px;
    line-height: 34px;
    vertical-align: middle;
}
#search-box input {
    width: 100%;
    height: 34px;
    padding-left: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f5f5f5;
}
.menu-item {
    width: 20%;
    font-size: 120%;
    font-family: SimHei;
    padding: 10px 0;
}
.menu-item-text {
    padding: 8px 5px;
}
.menu-item-clicked {
    border-bottom: solid 2px orange;
    color: orange;
}
.dropdown-menu {
    top: 14%;
    left: 20%;
    min-width: 80%;
    /* padding: 5px 0 !important; */
}
.dropdown-menu > li > a {
    border-bottom: solid 1px lightgray;
    padding: 10px 20px;
}
.dropdown {
    position: static;
}
.showcase {
    width: 100%;
    background-color: #666;
    padding-bottom: 10px;
}
.showcase:first-child {
    /* 	margin-top: 3rem; */
}
.showcase-image {
    position: relative;
    width: 100%;
    background-color: white;
}
.showcase-image img{
    width: 100%;
}
.showcase-image .price-tag {
    background-image: url("../../images/home/jg_bg01.png");
    background-size: 100px 28.742514px;
    background-repeat: no-repeat;
    width: 100px;
    height: 28.742514px;
    position: absolute;
    bottom: 14px;
    right: 10px;
    z-index: 10;
    color: white;
    font-size: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showcase-text {
    padding: 5px;
    background-color: white;
    position: relative;
    bottom: 4px;
}
.showcase-text-title {
    font-weight: normal;
    /*font-size: 100%;*/
    /*font-family: SimHei;*/
    color: #4c4c4b;
}
.showcase-text-title div{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 1px;
    background: url("../../../../mhj/style/images/wechat/shopcart.png") no-repeat;
    background-size: 100%;
    z-index: 11;
}
.showcase-text-content {
    font-size: 80%;
    /*color: grey;*/
    color: #a9a8af;
}

.order {
    background-color: white;
    border-bottom: solid 1px #f5f5f5;
}
.order:not(:first-child) {
    margin-top: 5px;
}
.order-title {
    padding: 10px 0;
    font-size: 95%;
    font-family: SimHei;
    border-bottom: solid 1px #f5f5f5;
}
.order-title-id-done {
    border-left: solid 3px #4d4d4d;
    padding-left: 10px;
}
.order-title-state-done {
    padding-right: 10px;
    color: #4d4d4d;
}
.order-title-id-cancel {
    border-left: solid 3px grey;
    padding-left: 10px;
}
.order-title-state-cancel {
    padding-right: 10px;
    color: grey;
}
.order-title-id-unpaid {
    border-left: solid 3px #f66e63;
    padding-left: 10px;
    float: left;
}
.order-title-state-unpaid {
    padding-right: 20px;
    color: #f66e63;
    float: right;
}
.order-content {
    padding: 10px 10px;
}
.order-info {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif ;
    color: grey !important;
    font-size: 13px;
}